.wrapper {
  background-image:url('../public/images/background.png'); 
  background-repeat: no-repeat;
  width:auto;

}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-transform: uppercase;
  color: #212121;
}


.location-container {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-between;
}

@media (min-width: 1200px) {
  .container {
      max-width: 1400px;
  }
}

@media (max-width: 600px) {
  .map {
    display: none;
  }
}
